
#content{
  width: 600px;
  height: 100%;
}

.signatureCanvas {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
 
}

 .padding-0{
  padding:0px;
}

.heading-margin{
   h3, p{
  margin-bottom: 0%;
   }
}

.h3-box{
  display: flex;
  justify-content: center;
}
.box-width{
  
}

.display{
  display: flex!important;
  justify-content: space-between;
}

// .inputfield-alignment{

// }
