.FullPageContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.NormalHeadingForInstruction {
  font-family: "Poppins";
  font-size: 1.4rem;
}

.Header {
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header_logo {
  height: 5rem;
  overflow: hidden;
  margin: 0.5rem 0;
  aspect-ratio: 1/1;
}

.MiddleAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.InRowWithGap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.submitButton {
  background-color: #000;
  color: #e9db1c;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  -webkit-transition: 0.3ms ease all;
  transition: 0.3ms ease all;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e9db1c;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.alignEnd {
  float: right;
}

.fw {
  width: 100%;
}

.rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.rw_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.cw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fxc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ma-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperCentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fitVertically {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.debugger {
  background-color: red;
  border: 2px solid green;
}

.topOffset {
  margin-top: 6rem;
}

.success-green {
  color: #fff;
}

.error-red {
  color: #ff0000;
}

.ThemeButtonActive {
  color: #ffff00;
  background: #000 !important;
}

.ThemeButtonActive:hover {
  color: #ffff00;
  background: #000 !important;
}

.CTAButton {
  min-width: 13rem !important;
  font-size: 1rem !important;
  font-weight: 500;
  border-radius: 5px !important;
  text-transform: none;
}

.ThemeButtonInActive {
  color: #000;
}

.ThemeButtonInActive:hover {
  color: #f30000;
}

.ThemeButtonYellow {
  color: #000;
  background-color: #efc753;
}

.ThemeButtonYellow:hover {
  background-color: #efc753;
  color: #000;
}

.ThemeButtonBlack {
  color: #efc753;
  background-color: #000;
}

.ThemeButtonBlack:hover {
  color: #efc753;
  background-color: #000;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  overflow: auto;
  white-space: initial !important;
  line-height: 16px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MuiDataGrid-virtualScroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ThinScrollbar {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.ThinScrollbar::-webkit-scrollbar {
  width: 0.25rem;
}

.ThinScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ThinScrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.ThinScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ThinScrollbar_2 {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.ThinScrollbar_2::-webkit-scrollbar {
  width: 0.5rem;
}

.ThinScrollbar_2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ThinScrollbar_2::-webkit-scrollbar-thumb {
  background: transparent;
}

.ThinScrollbar_2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiDataGrid-columnHeaders {
  background: #eee;
}

.approvalGreen {
  color: #18da18;
}

@media screen and (max-width: 767px) {
  .BodyContainer .CTAButton {
    position: absolute;
    top: 0px;
    height: 30px;
  }
  .ThemeButtonActive {
    color: #fff !important;
  }
  .topOffset {
    margin-top: 6em;
  }
  .topOffset .rw_end {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topOffset .rw_end button {
    font-size: 16px;
    padding: 0px 0px;
  }
  .topOffset .rw_end .ActiveRouteClass {
    font-size: 16px;
    padding: 2px;
    margin-right: 4px;
  }
  .topOffset .ThemeButtonBlack {
    width: 25rem;
    margin-top: 0px;
  }
  .footerGrid1 {
    display: none;
  }
}

@-webkit-keyframes fadeAway {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeAway {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.LoginColumn,
.LoginColumnSpecific,
.LoginColumnReducedGap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem 0.8rem;
}

.LoginColumn {
  padding: 1rem 2rem;
}

.LoginColumnReducedGap {
  gap: 0.5rem;
}

.LoginColumnSpecific {
  width: 100%;
}

.LoginColumnGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  margin: 0 auto;
  row-gap: 3rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 0.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 0.5rem;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 0.5rem;
  }
}

.FormInputField {
  background-color: #ffffff;
  min-width: 20rem;
}

.LoginRow,
.LoginRowSpecific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.LoginRow {
  width: 100%;
}

.LoginRowGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

.ActionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.LoginColumnGridS1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
}

@media (min-width: 0px) and (max-width: 320px) {
  .LoginColumnGridS1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .LoginColumnGridS1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .LoginColumnGridS1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .LoginColumnGridS1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .LoginColumn {
    padding: 0rem 1rem;
  }
  .LoginColumn .LoginRowGrid {
    margin-bottom: 10px;
  }
  .LoginColumn .LoginRowGrid svg {
    display: none;
  }
  .LoginColumn .LoginRowGrid .FormInputField {
    min-width: 25rem;
  }
  .LoginRowSpecific {
    margin-bottom: 15px;
  }
  .LoginRowSpecific:nth-child(1) svg,
  .LoginRowSpecific:nth-child(2) svg {
    display: none;
  }
  .LoginRowSpecific:nth-child(2) input ~ svg {
    display: block;
  }
  .LoginRowSpecific:nth-child(3) {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    left: 19px;
    z-index: 1;
  }
  .FormInputField {
    min-width: 24rem;
  }
  .LoginColumnGridS1 {
    position: relative;
  }
  .ActionContainer button:last-child {
    text-align: right;
    width: 100%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.LoginColumnGrid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
}

@media (min-width: 0px) and (max-width: 320px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .LoginColumnGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.ButtonUtility {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 1rem;
  width: 10rem;
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
}

@media (min-width: 0px) and (max-width: 320px) {
  .ButtonUtility {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .ButtonUtility {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .ButtonUtility {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .ButtonUtility {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=Forms.module.css.map */