.FullPageContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.NormalHeadingForInstruction {
  font-family: "Poppins";
  font-size: 1.4rem;
}

.Header {
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header_logo {
  height: 5rem;
  overflow: hidden;
  margin: 0.5rem 0;
  aspect-ratio: 1/1;
}

.MiddleAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.InRowWithGap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.submitButton {
  background-color: #000;
  color: #e9db1c;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  -webkit-transition: 0.3ms ease all;
  transition: 0.3ms ease all;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e9db1c;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.alignEnd {
  float: right;
}

.fw {
  width: 100%;
}

.rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.rw_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.cw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fxc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ma-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperCentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fitVertically {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.debugger {
  background-color: red;
  border: 2px solid green;
}

.topOffset {
  margin-top: 6rem;
}

.success-green {
  color: #fff;
}

.error-red {
  color: #ff0000;
}

.ThemeButtonActive {
  color: #ffff00;
  background: #000 !important;
}

.ThemeButtonActive:hover {
  color: #ffff00;
  background: #000 !important;
}

.CTAButton {
  min-width: 13rem !important;
  font-size: 1rem !important;
  font-weight: 500;
  border-radius: 5px !important;
  text-transform: none;
}

.ThemeButtonInActive {
  color: #000;
}

.ThemeButtonInActive:hover {
  color: #f30000;
}

.ThemeButtonYellow {
  color: #000;
  background-color: #efc753;
}

.ThemeButtonYellow:hover {
  background-color: #efc753;
  color: #000;
}

.ThemeButtonBlack {
  color: #efc753;
  background-color: #000;
}

.ThemeButtonBlack:hover {
  color: #efc753;
  background-color: #000;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  overflow: auto;
  white-space: initial !important;
  line-height: 16px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MuiDataGrid-virtualScroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ThinScrollbar {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.ThinScrollbar::-webkit-scrollbar {
  width: 0.25rem;
}

.ThinScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ThinScrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.ThinScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ThinScrollbar_2 {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.ThinScrollbar_2::-webkit-scrollbar {
  width: 0.5rem;
}

.ThinScrollbar_2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ThinScrollbar_2::-webkit-scrollbar-thumb {
  background: transparent;
}

.ThinScrollbar_2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiDataGrid-columnHeaders {
  background: #eee;
}

.approvalGreen {
  color: #18da18;
}

@media screen and (max-width: 767px) {
  .BodyContainer .CTAButton {
    position: absolute;
    top: 0px;
    height: 30px;
  }
  .ThemeButtonActive {
    color: #fff !important;
  }
  .topOffset {
    margin-top: 6em;
  }
  .topOffset .rw_end {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topOffset .rw_end button {
    font-size: 16px;
    padding: 0px 0px;
  }
  .topOffset .rw_end .ActiveRouteClass {
    font-size: 16px;
    padding: 2px;
    margin-right: 4px;
  }
  .topOffset .ThemeButtonBlack {
    width: 25rem;
    margin-top: 0px;
  }
  .footerGrid1 {
    display: none;
  }
}

@-webkit-keyframes fadeAway {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeAway {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.SearchNavWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.AlignCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.ActiveRouteClass {
  color: #e79f4a;
  border-bottom: 2px solid #e9db1c;
  background-color: #fff;
  border-radius: 0rem;
}

.GenericClass {
  background-color: #fff;
}

.GenericClass:hover {
  color: #fff;
}

.GenericClass {
  background-color: #fff;
}

.GenericClass:hover {
  color: #fff;
  background-color: #000;
}

.ActiveRouteClassNavBar {
  background-color: #e79f4a;
  color: #fff;
}

.InactiveRouteClassNavBar {
  color: #000;
}

.SwapScreenMargin {
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
  /*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
}

@media (min-width: 0px) and (max-width: 320px) {
  .SwapScreenMargin {
    margin-bottom: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .SwapScreenMargin {
    margin-bottom: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .SwapScreenMargin {
    margin-bottom: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .SwapScreenMargin {
    margin-bottom: 2rem;
  }
}

.LogoutIcon {
  color: #000;
  padding: 0.25rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
}

.LogoutIcon path {
  color: #FFFF00;
}

@media (min-width: 600px) and (max-width: 768px) {
  .InactiveRouteClassNavBar {
    padding: 8px;
  }
  .InactiveRouteClassNavBar button {
    padding: 5px;
  }
  .InactiveRouteClassNavBar p {
    margin: 0px 0px;
  }
}

/*
  To Check Screen Resolution:
  if(typeof window !== 'undefined')console.log(window.innerWidth)
  */
@media screen and (max-width: 767px) {
  .ActiveRouteClass {
    font-size: 11px;
    white-space: nowrap;
    margin-right: 4px;
    padding: 2px;
  }
  .ActiveRouteClass span {
    margin-left: 0px;
    margin-right: 5px;
  }
  .ActiveRouteClass span svg {
    font-size: 12px;
    display: none;
  }
  .GenericClass {
    padding: 0px;
    font-size: 11px;
  }
  .GenericClass svg {
    display: none;
  }
}

.headermain {
  border-bottom: 1px solid #eee !important;
}

.AppBar-root {
  border-bottom: 1px solid #eee;
}

.feedCart {
  color: #FFFF00;
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1.5rem;
  margin-left: 1em;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 50%;
  position: relative;
}

.spanHeaderIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forBorderHeaderIcon:hover {
  border-bottom: 3px solid yellow;
}

.headerIcons {
  font-size: small;
  color: white;
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerIcons svg {
  width: 30px;
  height: 30px;
}

.headerIconsOR {
  font-size: small;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerIconsOR:hover {
  color: #d8d89c;
}

.headerIcons:hover {
  color: #d8d89c;
}

.spanHeaderSideIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerSideIcons {
  background-color: yellow;
  color: black;
}

.iconHeaderSideIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.headerSideIcons:hover {
  background-color: #e0e005;
}

.EmptySpace {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border: 2px solid red;
}

.accountsCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: absolute;
  right: 4px;
}

.LngoutMnvr .ImgLngotm img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.ImgLngotm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .sideBar {
    left: 0px;
  }
  .feedCart {
    height: auto;
    width: auto;
    padding: 0px;
    margin-right: 1.1em;
  }
  .accountsCircle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .BxCmvr, .CrtMnvSwn {
    width: 18px;
    height: 18px;
    font-size: 8px;
  }
  .headerIcons svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -7px;
    top: 9px;
  }
  .LngoutMnvr .ImgLngotm img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .ImgLngotm svg {
    width: 12px;
  }
  header.headermain {
    z-index: 171;
  }
  .feedCart {
    margin-right: 0px;
    margin-left: 0px;
  }
  .feedCart svg {
    width: 20px;
    height: 20px;
  }
  .LngoutMnvr .ImgLngotm img {
    width: 34px;
    height: 34px;
  }
  .ImgLngotm svg {
    width: 10px;
  }
  .accountsCircle {
    line-height: 0;
  }
  .feedCart {
    margin-right: 6px;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=MUIFeedHeader.module.css.map */